html, body {
    height: 100%;
}

body, h2 {
    color: aliceblue;
    margin: 0;
}

body {
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(3, 12, 26);
}

img {
    width: 100px;
    height: 100px;
}
